.inst-img{
    height: 150px;
    width: 150px;
    object-fit: cover !important;
    border-radius: 50% !important;
    border: 3px solid #98cbf8;
    
}

.inst-card{
    background-color: #0d3c42 !important;
    color: white;
     
}
.inst-card:hover{
    box-shadow: 10px 10px rgb(82, 211, 211);
}