.heading-title{

    background-image:linear-gradient(rgba(18, 24, 24, 0.493), rgba(18, 37, 36, 0.438)), url("https://images.squarespace-cdn.com/content/v1/5b1954d75cfd798b94327249/1528730226689-ESFAYA54VHPLMTY9G0GB/faculty+banners-03.jpg?format=2500w");
    background-repeat: no-repeat;

    background-size: cover;
    height: 400px;
    text-align: center;
   
    
     
}
.text-head{
    color: white;
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
    
   
}
.heading-text{
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.card-img2{
    height: 350px;
}

.course-card:hover{
    box-shadow: 5px 10px 10px 5px rgba(19, 102, 122, 0.2), 0 6px 20px 0 rgba(57, 140, 173, 0.19);
    
}


.details-btn{
    color: white;
}

