.heading-title{

    background-image:linear-gradient(rgba(18, 24, 24, 0.493), rgba(18, 37, 36, 0.438)), url("https://media.istockphoto.com/photos/female-hands-typing-on-laptop-student-workspace-on-a-blue-pastel-picture-id1224313258?k=20&m=1224313258&s=612x612&w=0&h=iuo2VYcJu0MFhjQPE5ts0U7DvGN0R-CzSmNk8rjqfeg=");

    /* https://media.istockphoto.com/photos/female-hands-typing-on-laptop-student-workspace-on-a-blue-pastel-picture-id1224313258?k=20&m=1224313258&s=612x612&w=0&h=iuo2VYcJu0MFhjQPE5ts0U7DvGN0R-CzSmNk8rjqfeg= */

    background-repeat: no-repeat;
    background-size: cover;
    
    height: 450px;
    text-align: center;
   
    
     
}
.text-head{
    color: white;
    font-weight: 700;
    font-size: 60px;
    
    
   
}
.heading-text{
    font-weight: bold;
    color: white;
}
